body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: red;
  margin: 0 0 5px;
}

.page-subtitle {
 display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: red;
    margin-top: 32px;
  padding: 30px
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
border-radius: 0px;
}


body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
  cursor: pointer;
}
 


 
 

